Used to explore the data

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
datadir = './sources/'
fn1 = datadir+'skytruth_cleaned.csv'

In [22]:
df = pd.read_csv(fn1,low_memory=False,quotechar='$')

In [23]:
df.columns

Index(['r_seqid', 'pdf_seqid', 'api', 'fracture_date', 'state', 'county',
       'operator', 'well_name', 'production_type', 'latitude', 'longitude',
       'datum', 'true_vertical_depth', 'total_water_volume', 'published',
       'c_seqid', 'row', 'trade_name', 'supplier', 'purpose', 'ingredients',
       'cas_number', 'additive_concentration', 'hf_fluid_concentration',
       'comments', 'cas_type', 'raw_filename'],
      dtype='object')

In [29]:
df['ncas'] = pd.to_numeric(df.cas_number,errors='coerce')
len(list(df[~df.ncas.isna()].api.unique()))

562

In [25]:
df[df.cas_number=='1.74533']

,r_seqid,pdf_seqid,api,fracture_date,state,county,operator,well_name,production_type,latitude,...,trade_name,supplier,purpose,ingredients,cas_number,additive_concentration,hf_fluid_concentration,comments,cas_type,raw_filename
749508,25692.0,11237,17-031-25776,2012-01-05,Louisiana,De Soto,"EXCO Resources, Inc.",Meriwether 34 No. 1-Alt,Gas,32.151578,...,NaN,NaN,NaN,Carbohydrate polymer,1.74533,0.20037,None,NaN,other,SKY_2012

In [26]:
df[df.api=='17-031-25776'].to_csv('temp.csv')

In [19]:
t = df.groupby('APINumber',as_index=False)['IngredientName','CASNumber'].first()
t.to_csv('temp.csv')

In [14]:
api = list(df[df.potential].APINumber.unique())
len(api)

50768

In [12]:
len(df.APINumber.unique())

50785