Used to explore the data

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
datadir = './sources/'
fn1 = datadir+'sky_truth_flagged.csv'

In [10]:
df = pd.read_csv(fn1,low_memory=False,quotechar='$')
df.fracture_date = pd.to_datetime(df.fracture_date,errors='coerce')
df.published = pd.to_datetime(df.published,errors='coerce')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1660816 entries, 0 to 1660815
Data columns (total 28 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   r_seqid                 1660816 non-null  float64
 1   pdf_seqid               1660816 non-null  int64
 2   api                     1660816 non-null  object
 3   fracture_date           1660739 non-null  datetime64[ns]
 4   state                   1660816 non-null  object
 5   county                  1660816 non-null  object
 6   operator                1660816 non-null  object
 7   well_name               1660816 non-null  object
 8   production_type         1603353 non-null  object
 9   latitude                1660816 non-null  float64
 10  longitude               1660816 non-null  float64
 11  datum                   1660816 non-null  object
 12  true_vertical_depth     1660816 non-null  object
 13  total_water_volume      1660816 non-null  object
 14  published               1660816 non-null  datetime64[ns]
 15  c_seqid                 1660816 non-null  float64
 16  row                     1660816 non-null  float64
 17  trade_name              735479 non-null   object
 18  supplier                718218 non-null   object
 19  purpose                 705601 non-null   object
 20  ingredients             1565095 non-null  object
 21  cas_number              1519073 non-null  object
 22  additive_concentration  1660816 non-null  object
 23  hf_fluid_concentration  1660816 non-null  object
 24  comments                103560 non-null   object
 25  cas_type                1659815 non-null  object
 26  raw_filename            1660816 non-null  object
 27  potential_casig_dupe    1660816 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(5), int64(1), object(19)
memory usage: 343.7+ MB

In [4]:
df.fracture_date.tail()

1668507   2012-07-03
1668508   2012-07-03
1668509   2012-07-03
1668510   2012-07-03
1668511          NaT
Name: fracture_date, dtype: datetime64[ns]

In [6]:
df['APINumber'] = df.api
df.APINumber = np.where(df.APINumber.str.len()==13, #shortened state numbers
                       '0'+ df.APINumber,
                       df.APINumber)
df.APINumber = np.where(df.APINumber.str.len()==9, #shortened state numbers
                       '0'+ df.APINumber + '0000',
                       df.APINumber)
df.APINumber = np.where(df.APINumber.str.len()==10,
                       df.APINumber + '0000',
                       df.APINumber)

In [ ]:
gb = df.group

In [4]:
df['ncas'] = pd.to_numeric(df.cas_number,errors='coerce')
len(list(df[~df.ncas.isna()].api.unique()))

562

In [16]:
df[df.api=='33-053-03320'].to_csv('temp.csv')

In [26]:
df[df.api=='17-031-25776'].to_csv('temp.csv')

In [19]:
t = df.groupby('APINumber',as_index=False)['IngredientName','CASNumber'].first()
t.to_csv('temp.csv')

In [14]:
api = list(df[df.potential].APINumber.unique())
len(api)

50768

In [12]:
len(df.APINumber.unique())

50785